.body-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    position: relative;
    background: #fefefe;
    border-radius: 30px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07)
}

.body-container .progress-bar {
    display: flex;
    height: 10%;
}

.progress-bar .step {
    position: relative;
    text-align: center;
    width: 100%;
}

.progress-bar .step .bullet {
    margin-top: 15px;
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 17px;
    transition: 0.2s;
}

.progress-bar .step .bullet.active {
    border-color: #4169e1;
    background: #4169e1;
}

.progress-bar .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fefefe;
}

.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after {
    display: none;

}

.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -90px;
    height: 3px;
    width: 80px;
    background: #262626;
}

.progress-bar .step .bullet.active::after {
    background: #4169E1;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.form-outer {
    width: 100%;
    overflow: hidden;
    height: 90%;
}

.form-outer form {
    display: flex;
    width: 400%;
    height: 100%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

/* buttons in step 1 form */
.w-btn1 {
    width: 260px;
    margin: 30px;
    border: none;
    padding: 50px 100px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn2 {
    width: 260px;
    margin: 20px;
    border: none;
    padding: 30px 60px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn1:hover, .w-btn2:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.w-btn1:active, .w-btn2:active {
    transform: scale(1.1);
}

.w-btn-blue {
    background-color: #4169E1;
    color: #fefefe;
}

/* login */
.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    display: none;
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    /* transform: translate(-50%, -50%) scale(1. 15); */
    width: 360px;
    height: 400px;
    background: #fefefe;
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    border-radius: 30px;
    transition: opacity 500ms ease-in-out;
}

body.showLoginForm .popup-overlay {
    display: block;
}

body.showLoginForm .popup {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup .popup-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #4169e1;
    color: #fefefe;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup .form h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4169e1;
    margin-top: 30px;
    margin-bottom: 10px;
}

.popup .form .element {
    padding: 8px 20px;
}

.popup .form .element label {
    display: block;
    text-align: left;
    left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #4169e1;
    margin-bottom: 5px;
    margin-left: 5px;
}

.popup .form .element input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #4169e1;
    background: #fefefe;
    border-radius: 20px;
}

.popup .form .forgot-pass {
    text-align: left;
    margin-left: 25px;
    font-size: 14px;
}

.popup .form .forgot-pass a {
    color: #4169e1;
    text-decoration: none;
}

.popup .form .forgot-pass a:hover {
    text-decoration: underline;
}

.popup .form .element button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: #4169e1;
    color: #fefefe;
}

.popup .form .signup-link {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.popup .form .signup-link a {
    color: #4169e1;
    text-decoration: none;
}

.popup .form .signup-link a:hover {
    text-decoration: underline;
}