.body-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: 10vh;
    padding: 20px 30px 20px 30px;
    position: relative;
    background: #fefefe;
    border-radius: 30px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}

/* edit */
.edit-container {
    display: flex;
    width: 100%;
    height: 2.5%;
    background: #fefefe;
    margin-bottom: 10px;
}

#edit {
    color: #ffff00;
}

.edit {
    background: #4169e1;
    color: #fefefe;
    width: 13%;
    height: 100%;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* main container */
.tutor-container {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 14.2%;
    background: #4169e1;
    border-radius: 30px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}

.tutor-container .tutor-img {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    width: 18%;
    height: 85%;
    background: #fefefe;
    border-radius: 30px;
}

.tutor-img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.tutor-container .tutor-inner-container {
    display: flex;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 78%;
    height: 85%;
    background: #fefefe;
    border-radius: 30px;
}

.tutor-inner-container .tutor-info {
    display: grid;
    width: 60%;
    height: 100%;
    padding: 30px;
    text-align: left;
}

.tutor-inner-container .tutor-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
}

.tutor-intro span {
    width: 100%;
}

.tutor-inner-container .tutor-send-request {
    display: flex;
    flex: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tutor-send-request button {
    background: #4169e1;
    color: #fefefe;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 20%;
    width: 80%;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    display: flex;
    background: #4169e1;
    padding: 8px;
    border-radius: 30px;
}

.pagination ul li {
    user-select: none;
    color: #fefefe;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
}

.pagination ul li.prev {
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
    border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
    background: #fefefe;
    color: #4169e1;
}

.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    display: none;
}

/* login popup */
.popup-login {
    position: absolute;
    top: -150%;
    left: 50%;
    /* transform: translate(-50%, -50%) scale(1. 15); */
    max-width: 360px;
    width: 100%;
    height: 400px;
    background: #fefefe;
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    border-radius: 30px;
    transition: opacity 500ms ease-in-out;
    align-items: center;
}

body.showLoginForm #popup-overlay-login {
    display: block;
}

body.showLoginForm .popup-login {
    position: fixed;
    top: 55%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-login #login-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #4169e1;
    color: #fefefe;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup-login .form h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4169e1;
    margin-top: 30px;
    margin-bottom: 10px;
}

.popup-login .form .element {
    padding: 8px 20px;
}

.popup-login .form .element label {
    display: block;
    text-align: left;
    left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #4169e1;
    margin-bottom: 5px;
    margin-left: 5px;
}

.popup-login .form .element input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #4169e1;
    background: #fefefe;
    border-radius: 20px;
}

.popup-login .form .forgot-pass {
    text-align: left;
    margin-left: 25px;
    font-size: 14px;
}

.popup-login .form .forgot-pass a {
    color: #4169e1;
    text-decoration: none;
}

.popup-login .form .forgot-pass a:hover {
    text-decoration: underline;
}

.popup-login .form .element button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: #4169e1;
    color: #fefefe;
}

.popup-login .form .signup-link {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.form a {
    color: #4169e1;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

/* request popup */
body.showRequestForm #popup-overlay-request {
    display: block;
}

body.showRequestForm .popup-request {
    position: fixed;
    top: 55%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-request #request-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #4169e1;
    color: #fefefe;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup-request {
    position: absolute;
    top: -150%;
    left: 50%;
    /* transform: translate(-50%, -50%) scale(1. 15); */
    width: 500px;
    height: 530px;
    background: #fefefe;
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    border-radius: 30px;
    transition: opacity 500ms ease-in-out;
}

.popup-request .form {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.popup-request .form h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4169e1;
    margin-top: 20px;
}

.popup-request .form .element {
    padding: 8px 20px;
}

.popup-request .form .element textarea {
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #4169e1;
    background: #fefefe;
    border-radius: 20px;
}

.popup-request .form .element button {
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: #4169e1;
    color: #fefefe;
}

/* registration popup */
body.showRegistrationForm #popup-overlay-registration {
    display: block;
}

body.showRegistrationForm .popup-registration {
    position: fixed;
    top: 55%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-registration #registration-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #4169e1;
    color: #fefefe;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup-registration {
    position: absolute;
    top: -150%;
    left: 50%;
    /* transform: translate(-50%, -50%) scale(1. 15); */
    width: 420px;
    height: 480px;
    background: #fefefe;
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    border-radius: 30px;
    transition: opacity 500ms ease-in-out;
}

.popup-registration .form {
    height: 100%;
    display: grid;
}

.popup-registration .form h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #4169e1;
    margin-top: 20px;
    margin-bottom: -10px;
}

.popup-registration .form .element {
    padding: 0 20px;
}

.popup-registration .form .element-name {
    display: flex;
    width: 92%;
    margin: auto;
}

.popup-registration .form .element-name .fname {
    display: grid;
    flex: 49%;
}

.popup-registration .form .element-name .name-center {
    flex: 2%;
}

.popup-registration .form .element-name .lname {
    display: grid;
    flex: 49%;
}

.popup-registration .form label {
    display: block;
    text-align: left;
    left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #4169e1;
    margin-bottom: 5px;
    margin-left: 5px;
}

.popup-registration .form input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #4169e1;
    background: #fefefe;
    border-radius: 20px;
}

.popup-registration .form .element button {
    margin-top: 8px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: #4169e1;
    color: #fefefe;
}

.popup-registration .form .signin-link {
    margin-top: -10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}