<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/account.css">
        <link rel="stylesheet" href="css/popup.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="logo"><a th:href="@{/}" class="active">Find My Tutor</a></div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <nav class="nav-bar">
                <ul>
                    <li>
                        <a th:href="@{/}">Find My Tutor</a>
                    </li>
                    <li style="display: inline-block">
                        <a sec:authorize="!isAuthenticated()" onclick="openLoginForm()">Sign in</a>
                        <form id="signout" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <a href="javascript:;" onclick="document.getElementById('signout').submit();">Sign out</a>
                        </form>
                    </li>
                    <li>
                        <a th:href="@{/account}" class="active">Account</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- body -->
        <div class="body-container">
            <div class="account-row">
                <!-- Name Item -->
                <div class="LaS-item">
                  <!-- Name Display -->
                    <div class="account-col-80">
                        <label for="LaS-name-lbl"> - Name</label>
                        <lable for="LaS-name-display">
                            <p>request.userPrincipal.principal.fullname</p>
                        </lable>
                    </div>
                    <div class="account-col-20">
                        <button type="form-edit" class="account-btn-edit" id="name-edit-btn" onclick="onNameEditButtonClick()">
                            Edit
                        </button>
                    </div>
      
                    <!-- Edit Name Form -->
                    <form class="edit-form" th:action="@{/account/changeName}" method="POST">
                        <div class="account-col-80">
                            <div class="form-control-hide" id="edit-name-first">
                                <p class="hide" id="edit-name-label">Enter the new Name</p>
                                <input class="edit-name-first" type="text" name="firstName" placeholder="First Name" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                            <div class="form-control-hide" id="edit-name-last">
                                <input class="edit-name-last" type="text" name="lastName" placeholder="Last Name" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-col-20">
                            <button class="hide" id="edit-name-button" type="form-edit" onclick="return checkNameInputs()" >
                                Save
                            </button>
                        </div>
                    </form>
                </div>
      
                <!-- Email Item -->
                <div class="LaS-item">
                    <!-- Email Display -->
                    <div class="account-col-80">
                        <label for="LaS-email-lbl"> - Email</label>
                        <lable for="LaS-email-display">
                            <p>request.userPrincipal.principal.username</p>
                        </lable>
                    </div>
                    <div class="account-col-20">
                        <button type="form-edit" class="account-btn-edit" id="email-edit-btn" onclick="onEmailEditButtonClick()" >
                            Edit
                        </button>
                    </div>
      
                  <!-- Edit Email Form -->
                    <form class="edit-form" th:action="@{/account/changeEmail}" method="POST" >
                        <div class="account-col-80">
                            <div class="form-control-hide" id="edit-email">
                                <p class="hide" id="edit-email-label">Enter the new Email</p>
                                <input class="edit-email" type="text" name="email" placeholder="johndoe@example.com" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-col-20">
                            <button class="form-control-hide" id="edit-email-button" type="form-edit" onclick="return checkEmailInputs()">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
        
                <!-- Phone Edit -->
                <div class="LaS-item">
                    <!-- Phone Display -->
                    <div class="account-col-80">
                        <label for="LaS-phone-lbl"> - Phone</label>
                        <lable for="LaS-phone-display">
                            <p> <!-- th:if="${user.userInfo.phone != null}" -->
                                user.userInfo.phone
                            </p>
                        </lable>
                    </div>
                    <div class="account-col-20">
                        <button type="form-edit" class="account-btn-edit" id="phone-edit-btn" onclick="onPhoneEditButtonClick()" >
                            Edit
                        </button>
                    </div>
      
                  <!-- Edit Phone Form -->
                    <form class="edit-form" th:action="@{/account/changePhoneNumber}" method="POST" >
                        <div class="account-col-80">
                            <div class="form-control-hide" id="edit-phone">
                                <p class="edit-phone-label">Enter the new phone number</p>
                                <input class="edit-phone" type="text" name="phone" placeholder="(123)-456-7890" maxlength="12" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-col-20">
                            <button class="form-control-hide" id="edit-phone-button" type="form-edit" onclick="return checkPhoneInputs()" > 
                                Save
                            </button>
                        </div>
                    </form>
                </div>
      
                <!-- Password Edit -->
                <div class="LaS-item">
                    <!-- Password Display -->
                    <div class="account-col-80">
                        <label for="LaS-password-lbl"> - Password</label>
                        <lable for="LaS-password-display"><p>**********</p></lable>
                    </div>
                    <div class="account-col-20">
                        <button type="form-edit" class="account-btn-edit" id="password-edit-btn" onclick="onPasswordEditButtonClick()" >
                            Edit
                        </button>
                    </div>
        
                    <!-- Edit Password Form -->
                    <form class="edit-form" th:action="@{/account/changePassword}" method="POST">
                        <div class="account-col-80">
                            <div class="form-control-hide" id="edit-password">
                                <p class="hide" id="edit-password-label">
                                    Enter the new Password
                                </p>
                                <input class="edit-password" type="password" name="password" placeholder="Enter your new password" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                            <div class="form-control-hide" id="edit-repeat-password">
                                <input class="edit-repeat-password" type="password" placeholder="Re-enter your new password" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                        </div>
                        <div class="account-col-20">
                            <button class="form-control-hide" id="edit-password-button" type="form-edit" onclick="return checkPasswordInputs()">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
                <div class="LaS-item">
                    <button type="form-edit" class="">Manage Tutoring Requests</button>
                </div>
            </div>
        </div>

        <!-- signin and signup popups -->
        <div class="popup-overlay" id="popup-overlay-login"></div>
        <div class="popup-login">
            <div class="popup-close" id="login-close" onclick="closeLoginForm()">&times;</div>
            <form action="/api/auth/signin" class="form" method="post">
                <h1>Sign in</h1>
                <div class="element">
                    <label for="email">Email</label>
                    <input type="text" id="signin-email" name="email">
                </div>
                <div class="element">
                    <label for="password">Password</label>
                    <input type="password" id="signin-password" name="password">
                </div>
                <div class="forgot-pass"><a href="#">Forgot Password?</a></div>
                <div class="element">
                    <button type="button" id="btn-signin">Sign-in</button>
                </div>
                <div class="signup-link"><a id="signup-link" onclick="signUpLinkFunction()">Not a member? Sign-up now</a></div>
            </form>
        </div>

        <div class="popup-overlay" id="popup-overlay-registration"></div>
        <div class="popup-registration">
            <div class="popup-close" id="registration-close" onclick="closeRegistrationForm()">&times;</div>
            <form action="/api/auth/signup" class="form" method="post" id="signup-form">
                <h1>Sign up</h1>
                <div class="element-role">
                    <input type="radio" name="role" id="role-tutor" value="tutor" checked>
                    <input type="radio" name="role" id="role-student" value="student">
                    <label for="role-tutor" class="option role-tutor">
                        <div class="dot"></div>
                        <span>Tutor</span>
                    </label>
                    <label for="role-student" class="option role-student">
                        <div class="dot"></div>
                        <span>Student</span>
                    </label>
                </div>
                <div class="element-name">
                    <div class="fname">
                        <label for="text">First Name</label>
                        <input type="text" id="signup-firstName" name="firstName">
                    </div>
                    <div class="name-center"></div>
                    <div class="lname">
                        <label for="text">Last Name</label>
                        <input type="text" id="signup-lastName" name="lastName">
                    </div>
                </div>
                <div class="element">
                    <label for="email">Email</label>
                    <input type="text" id="signup-email" name="email">
                </div>
                <div class="element">
                    <label for="password">Password</label>
                    <input type="password" id="signup-password" name="password">
                </div>
                <div class="element">
                    <label for="password">Repeat Password</label>
                    <input type="password" id="password">
                </div>
                <div class="element">
                    <button type="button" id="btn-signup">Sign-up</button>
                </div>
                <div class="signin-link"><a id="signin-link" onclick="signInLinkFunction()">Already a member? Sign-in now</a></div>
            </form>
        </div>
        
        <script>
            hamburger = document.querySelector(".hamburger");
            hamburger.onclick = function() {
                navBar = document.querySelector(".nav-bar");
                navBar.classList.toggle("active");
            }
        </script>
        <script src="js/signinAndSignup.js"></script>
        <script src="js/account.js"></script>
    </body>
</html>