<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FindMyTutor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/tutoringRequest.css">
        <link rel="stylesheet" href="../css/popup.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="logo"><a th:href="@{/}">Find My Tutor</a></div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <nav class="nav-bar">
                <ul>
                    <li>
                        <a th:href="@{/}" class="active">Find My Tutor</a>
                    </li>
                    <li style="display: inline-block">
                        <a sec:authorize="!isAuthenticated()" onclick="openLoginForm()">Sign in</a>
                        <form id="signout" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <a href="javascript:;" onclick="document.getElementById('signout').submit();">Sign out</a>
                        </form>
                    </li>
                    <li>
                        <a th:href="@{/account}">Account</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="body-container">
            <span class="request-txt">Tutoring Requests</span>
            <div class="message-wrapper">
                <div class="message-box">
                    <div class="lesson-info">
                        <div class="lesson-info-hashtag" type="button">#Online</div>
                        <div class="lesson-info-hashtag" type="button">#Programming</div>
                        <div class="lesson-info-hashtag" type="button">#$40</div>
                    </div>
                    <div class="sender-info">
                        <div class="col-30">
                            <span>Name: </span>
                            <span>Email: </span>
                            <span>Phone: </span>
                            <span>Message: </span>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-66">
                            <span>park </span>
                            <span>gs@com </span>
                            <span>1234 </span>
                            <span>hi </span>
                        </div>
                    </div>
                    <button class="delete-btn">Delete</button>
                    <button class="check-btn">Mark as read</button>
                </div>
                <div class="message-box">
                    <div class="lesson-info">
                        <div class="lesson-info-hashtag" type="button">#Online</div>
                        <div class="lesson-info-hashtag" type="button">#Programming</div>
                        <div class="lesson-info-hashtag" type="button">#$40</div>
                    </div>
                    <div class="sender-info">
                        <div class="col-30">
                            <span>Name: </span>
                            <span>Email: </span>
                            <span>Phone: </span>
                            <span>Message: </span>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-66">
                            <span>park </span>
                            <span>gs@com </span>
                            <span>1234 </span>
                            <span>hi </span>
                        </div>
                    </div>
                    <button class="delete-btn">Delete</button>
                    <button class="check-btn">Mark as read</button>
                </div>
                <div class="message-box">
                    <div class="lesson-info">
                        <div class="lesson-info-hashtag" type="button">#Online</div>
                        <div class="lesson-info-hashtag" type="button">#Programming</div>
                        <div class="lesson-info-hashtag" type="button">#$40</div>
                    </div>
                    <div class="sender-info">
                        <div class="col-30">
                            <span>Name: </span>
                            <span>Email: </span>
                            <span>Phone: </span>
                            <span>Message: </span>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-66">
                            <span>park </span>
                            <span>gs@com </span>
                            <span>1234 </span>
                            <span>hi </span>
                        </div>
                    </div>
                    <button class="delete-btn">Delete</button>
                    <button class="check-btn">Mark as read</button>
                </div>
                <div class="message-box">
                    <div class="lesson-info">
                        <div class="lesson-info-hashtag" type="button">#Online</div>
                        <div class="lesson-info-hashtag" type="button">#Programming</div>
                        <div class="lesson-info-hashtag" type="button">#$40</div>
                    </div>
                    <div class="sender-info">
                        <div class="col-30">
                            <span>Name: </span>
                            <span>Email: </span>
                            <span>Phone: </span>
                            <span>Message: </span>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-66">
                            <span>park </span>
                            <span>gs@com </span>
                            <span>1234 </span>
                            <span>hi </span>
                        </div>
                    </div>
                    <button class="delete-btn">Delete</button>
                    <button class="check-btn">Mark as read</button>
                </div>
            </div>

            <!-- signin popup -->
            <div class="popup-overlay" id="popup-overlay-login"></div>
            <div class="popup-login">
                <div class="popup-close" id="login-close" onclick="closeLoginForm()">&times;</div>
                <form action="/api/auth/signin" class="form" method="post">
                    <h1>Sign in</h1>
                    <div class="element">
                        <label for="email">Email</label>
                        <input type="text" id="signin-email" name="email">
                    </div>
                    <div class="element">
                        <label for="password">Password</label>
                        <input type="password" id="signin-password" name="password">
                    </div>
                    <div class="forgot-pass"><a href="#">Forgot Password?</a></div>
                    <div class="element">
                        <button type="button" id="btn-signin">Sign-in</button>
                    </div>
                    <div class="signup-link"><a id="signup-link" onclick="signUpLinkFunction()">Not a member? Sign-up now</a></div>
                </form>
            </div>

            <!-- signup popup -->
            <div class="popup-overlay" id="popup-overlay-registration"></div>
            <div class="popup-registration">
                <div class="popup-close" id="registration-close" onclick="closeRegistrationForm()">&times;</div>
                <form action="/api/auth/signup" class="form" method="post" id="signup-form">
                    <h1>Sign up</h1>
                    <div class="element-role">
                        <input type="radio" name="role" id="role-tutor" value="tutor" checked>
                        <input type="radio" name="role" id="role-student" value="student">
                        <label for="role-tutor" class="option role-tutor">
                            <div class="dot"></div>
                            <span>Tutor</span>
                        </label>
                        <label for="role-student" class="option role-student">
                            <div class="dot"></div>
                            <span>Student</span>
                        </label>
                    </div>
                    <div class="element-name">
                        <div class="fname">
                            <label for="text">First Name</label>
                            <input type="text" id="signup-firstName" name="firstName">
                        </div>
                        <div class="name-center"></div>
                        <div class="lname">
                            <label for="text">Last Name</label>
                            <input type="text" id="signup-lastName" name="lastName">
                        </div>
                    </div>
                    <div class="element">
                        <label for="email">Email</label>
                        <input type="text" id="signup-email" name="email">
                    </div>
                    <div class="element">
                        <label for="password">Password</label>
                        <input type="password" id="signup-password" name="password">
                    </div>
                    <div class="element">
                        <label for="password">Repeat Password</label>
                        <input type="password" id="password">
                    </div>
                    <div class="element">
                        <button type="button" id="btn-signup">Sign-up</button>
                    </div>
                    <div class="signin-link"><a id="signin-link" onclick="signInLinkFunction()">Already a member? Sign-in now</a></div>
                </form>
            </div>
        </div>
        <script>
            hamburger = document.querySelector(".hamburger");
            hamburger.onclick = function() {
                navBar = document.querySelector(".nav-bar");
                navBar.classList.toggle("active");
            }
        </script>
        <script src="../js/tutoringRequest.js"></script>
        <script src="../js/signinAndSignup.js"></script>
    </body>
</html>